.jumbotron {
  background-image: url(trump3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;

}

#slogan {
    font-weight: bold;
    color: white;
}

#multiFilterSubmit {
    text-align: right;
}
