<!doctype html>
<html>
<head> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Escape Trump's America</title>
      <!-- Style -->
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <!-- Javascript Imports -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Escape Trump's America</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/map_of_world">Explore countries</a></li>
        <li><a href="/explain_indices">FAQs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </div>
</nav>

  <hr>
    {% for flash in get_flashed_messages() %}
        {{ flash }}
    {% endfor %}


  {% block content %} CONTENT HERE {% endblock %}

</body>
</html>