<!DOCTYPE html>
<html>

  <head>
      <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script type='text/javascript' src='https://www.google.com/jsapi'></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/style.css">
      <title> Cost of Living Index 2017</title>

  </head>

  <body>
    <h2> Cost of Living Index Throughout the World </h1>

    <div class="container-fluid">
      <div class="row" id="featurerow">


        <section class="col-xs-2">
          <div id="accordion" class="panel panel-primary behclick-panel">
            <div class="panel-heading">
            <h3 class="panel-title">Filter Country Factors</h3>
          </div>
          <div class="panel-body" >
            <div class="panel-heading " >
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse0">
                  <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Overview
                </a>
              </h4>
            </div>

            <div id="collapse0" class="panel-collapse collapse in" >

                
                <li class="list-group-item">
                  <div class="text">
                    <label>
                      <input type="text" value="" id="bread_price_multi">
                      <br> 
                      Loaf of Bread
                    </label>
                  </div>
                </li>
                
                <li class="list-group-item">
                  <div class="text"  >
                    <label>
                      <input type="text" value="" id="apt_price_multi">
                      <br>
                      Monthly Rental 
                    </label>
                  </div>
                </li>
                
                <li class="list-group-item">
                  <div class="text"  >
                    <label>
                      <input type="text" value="" id="meal_price_multi">
                      <br>
                      Inexpensive Restaurant Meal
                    </label>
                  </div>
                </li>

                              <ul class="list-group">
                <li class="list-group-item">
                  <div class="text">
                    <label>
                      <input type="text" value="" id="col_index_multi">
                      <br>
                      Cost of Living Index
                    </label>
                  </div>
                </li>

              </ul>
            </div>

            <div class="panel-heading " >
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">
                  <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Quality of Life Indices
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in" >
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="text">
                    <label>
                      <input type="text" value="" id="health_care_index_multi">
                      <br>
                      Healthcare
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="text" >
                    <label>
                      <input type="text" value="" id="crime_index_multi">
                      <br> 
                      Crime
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="text"  >
                    <label>
                      <input type="text" value="" id="pollution_index_multi">
                      <br> 
                      Pollution
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="text"  >
                    <label>
                      <input type="text" value="" id="traffic_index_multi">
                      <br> 
                      Traffic
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-heading" >
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2"><i class="indicator fa fa-caret-right" aria-hidden="true"></i> Others</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="text">
                    <label>
                      <input type="text" value="" id="property_price_to_income_ratio_multi">
                      <br>
                      Property Price to Income Ratio 
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="text" >
                    <label>
                      <input type="text" value="" id="groceries_index_multi">
                      <br>
                      Groceries Index
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="text">
                    <label>
                      <input type="text" value="" id="rent_index_multi">
                      <br>
                      Rent Index
                    </label>
                  </div>
                </li>
              </ul>
            </div>
              <div class="indices_info">


           <input type="submit" id="multiFilterSubmit">
           <br>
           <br> 
                   <a href="/explain_indices" title="About these indices" class="indices_info">
        <img src="https://www.numbeo.com/images/information.png" class="image_help" alt="Info"/> Explain these indices</a></div>
          </div>
        </section>

        <div class="row" id="tablerow">
          <section class="col-xs-2">
          <form>
              <br>  
              <br>     
               <select id="generalFilter" class="mapFilter">
              <option value="col_index" selected="selected">Cost of Living Index</option>           
              <option value="bread_price"> Average Bread Price</option>
              <option value="meal_price"> Average Restaurant Meal Price </option>
              <option value="apt_price"> Average Monthly Apt Rental Price </option>
              <option value="health_care_index"> Health Care Index </option>
              <option value="crime_index"> Crime Index </option>
              <option value="pollution_index"> Pollution Index </option>
              <option value="traffic_index"> Traffic Index </option>
              <option value="groceries_index"> Groceries Index </option>
              <option value="rent_index"> Rent Index </option>   
              <option value="property_price_to_income_ratio"> Property Price to Income Ratio  </option>     
              </select>
          </form>
          </section>

          <section class="col-xs-2">
          <div id="customFilterForm">
          <form id = "customFilter">
              <br> 
              <br> 
              Filter by: <input type="text" id="maxAmount" value="max value"><br>
          </section>

          <section class="col-xs-2">
              <br> 
              <br> 
              <input type="submit" id="customFilterSubmit">
          </form>

          </section>
      
        <section class="col-xs-8 feature">
            <br>
          <div id="chart_div" class="country_gmaps_rankings"> </div>
        </section>


        <section class="col-xs-6 feature" id="chosen_for_countries"> 
            <div id="chosen_for_countries"> {% include 'search_button.html' %} </div>
        </section>

   </div>
</div>




       <script type='text/javascript'>
        google.load('visualization', '1', {'packages': ['geochart']});
        google.setOnLoadCallback(updateMapData);
       
        function drawMap(results) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Country');
            data.addColumn('number', $( "select#generalFilter option:selected" ).val());
            data.addRows(results.items);
            var options = {
            colorAxis: {colors: [ '#551a8b', '#17e617', '#ffff00', '#e6e617', '#ffa500', '#ff0000']}}
            var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
            
            chart.draw(data, options);
        };
        
        function updateMapData(){
          
            var currentOptionRoute = $( "select#generalFilter option:selected" ).val();
            $.get("/" + currentOptionRoute + ".json", drawMap)
            };
        $('#generalFilter').on('change', updateMapData);
        
        function filterMapData(evt){
            evt.preventDefault();
            var currentOptionRoute = $( "select#generalFilter option:selected" ).val();
            var formInputs = {
              "filterMax": $("#maxAmount").val() 
              };
            $.get("/" + currentOptionRoute + "Filter" + ".json", formInputs, drawMap);        
            };
        
    
            $('#customFilter').on('submit', filterMapData);
        
        function drawMultiFilterMap(results) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Country');
            data.addColumn('number', 'Cost of Living Index');
            data.addRows(results.items);
            var options = {
            colorAxis: {colors: [ '#551a8b', '#17e617', '#ffff00', '#e6e617', '#ffa500', '#ff0000']}}
            var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
            
            chart.draw(data, options);
        };
        
        function MultiFilterMapData(evt){
            evt.preventDefault();
            var formInputs = {
              "colindex": $("#col_index_multi").val(),
              "breadprice": $("#bread_price_multi").val(),
              "mealprice": $("#meal_price_multi").val(),
              "apt_price": $("#apt_price_multi").val(),
              "groceries_index": $("#groceries_index_multi").val(),
              "rent_index": $("#rent_index_multi").val(),
              "property_price_to_income_ratio": $("#property_price_to_income_ratio_multi").val(),
              "health_care_index": $("#health_care_index_multi").val(),
              "crime_index": $("#crime_index_multi").val(),
              "pollution_index": $("#pollution_index_multi").val(),
              "traffic_index": $("#traffic_index_multi").val()
              };
            $.get("/multiFormPick.json", formInputs, drawMultiFilterMap);        
            };
        $('#multiFilterSubmit').on('click', MultiFilterMapData);
        </script>


   </body>
</html>
