{% extends 'base.html' %}

{% block content %}

    <div class="container">
    <div class="page-header">
        <h1>Compare Countries</h1>

    </div>

   <div id="country-data">
        <table style="width:100%" class="table table-hover table-striped">

        <div id="country_name_table">
        <tr>
            <th></th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td><b> <center> {{ country.country_name }} </center></b></td>
                {% endfor %}
            {% endfor %}
        </tr>
        </div>

        <tr> 
            <td> </td>
        {% for url in urls %}
            <td><img id={{ url }} src={{ url }} height="275" width="275"></td>
        {% endfor %}

        </tr>


        <tr>
            <th>Invest </th>
            {% for countries in country_info %}
                {% for country in countries %}
              <td> <a href={{ countries[country] }}> Kiva </a> </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th>Cost of Living Index </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "{:.2f}".format(country.col_index) if country.col_index else "None" }}  </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th>Worth per USD</th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>  {{ "{:.2f}".format(country.currency_per_USD) if country.currency_per_USD else "None" }} {{ country.currency_name}}s</td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Restaurant ($) Meal </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "${:.2f}".format(country.meal_price) if country.meal_price else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Monthly Apartment rental </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "${:.2f}".format(country.apt_price) if country.apt_price else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Groceries Index </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "{:.2f}".format(country.groceries_index) if country.groceries_index else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Healthcare Index </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "{:.2f}".format(country.health_care_index) if country.health_care_index else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Crime Index </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "{:.2f}".format(country.crime_index) if country.crime_index else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Pollution Index </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "{:.2f}".format(country.pollution_index) if country.pollution_index else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Traffic Index </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "{:.2f}".format(country.traffic_index) if country.traffic_index else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Rent Index </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "{:.2f}".format(country.rent_index) if country.rent_index else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        <tr>
            <th> Property Price to Income Ratio </th>
            {% for countries in country_info %}
                {% for country in countries %}
            <td>{{ "{:.2f}".format(country.    property_price_to_income_ratio) if country.property_price_to_income_ratio else "None" }} </td>
                {% endfor %}
            {% endfor %}
        </tr>

        </table>
   </div>

{% endblock %}

