{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="page-header">
    <h1>Escape Trump's America  </h1>
    <p class="lead">Register here </p>
  </div>

<form action = "/register" method="POST">

    First Name:
    <input type="text" name="fname"> 

    Last Name: 
    <input type="text" name="lname"> </br> </br> 

    Email: 
    <input type="text" name="email"> </br> </br> 

    Password: 
    <input type="text" name="password"> </br> </br> 

    Age: 
    <input type="text" name="age"> </br> </br> 

    Zipcode: 
    <input type="text" name="zipcode"> </br> </br> 

    Country: 
    <select name="country_code">
        {% for country in countries %}
            <option value="{{ country.country_code }}" SELECTED>{{ country.country_name }}</option>
        {% endfor %}
    </select> </br> </br> 

    <input type="submit" name="submit_button">

</form>

{% endblock %}