<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/chosen.css">
  <link rel="stylesheet" href="static/style.css">

  <title>Countries</title>

</head>

<body>

   <div id="content">
     <form id= "search_button" action="/display_chosen_countries" method="GET">
          <em>Countries</em>
          <select id="countries" name="countries" multiple="countries" data-placeholder="Compare cost of living (up to 5 countries)" class="chosen-select" multiple style="width:350px;" tabindex="4">
            <option value=""></option>
            {% for nation in nations %}
                  <option value="{{ nation.country_name }}">{{ nation.country_name }}</option>
            {% endfor %}
            </select> 
        <input type="submit" id="button">
       </form>
      </div>
      

      <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
      <script src="/static/chosen.jquery.js" type="text/javascript"></script>
      <script src="/static/chosen.proto.js" type="text/javascript"></script>
      <script src="/static/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript">
 
            //configuring the button  
            var config = {
            '.chosen-select'           : {max_selected_options:5},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"},
            }
          
            for (var selector in config) {
            $(selector).chosen(config[selector]);
            }

            //capturing the values submitted 
            function displayVals(evt) {
                  // evt.preventDefault()
                  var chosen_countries = $( "#countries" ).val();
                  return chosen_countries;
            }

            $("#button").on('click', displayVals);

      </script>
   </body>
</html>

