
<!DOCTYPE html>
<html>
<head>
   <script type='text/javascript' src='https://www.google.com/jsapi'></script>

<title> Cost of Living Index 2017</title>
 <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country');
        data.addColumn('number', 'Cost of Living Index');
        data.addRows([
        ['Cambodia', 46.77],
        ['Kazakhstan', 30.74],
        ['Portugal', 49.19],
        ['Syria', 28.31],
        ['Bahamas', 104.05],
        ['Greece', 55.87],
        ['Mongolia', 55.56],
        ['Latvia', 47.83],
        ['Iran', 38.26],
        ['Morocco', 35.53],
        ['Panama', 56.88],
        ['Guatemala', 46.01],
        ['Iraq', 47.04],
        ['Chile', 50.09],
        ['Nepal', 30.02],
        ['Argentina', 52.57],
        ['Tanzania', 48.51],
        ['Ukraine', 26.22],
        ['Ghana', 60.48],
        ['Belize', 55.80],
        ['Zambia', 44.73],
        ['Bahrain', 57.78],
        ['India', 25.08],
        ['Canada', 70.16],
        ['Turkey', 38.60],
        ['Belgium', 75.36],
        ['Namibia', 46.48],
        ['Finland', 73.06],
        ['Taiwan', 61.38],
        ['Palestinian Territory', 53.46],
        ['South Africa', 43.12],
        ['Bermuda', 146.19],
        ['Georgia', 27.37],
        ['Jamaica', 56.90],
        ['Peru', 39.47],
        ['Germany', 65.50],
        ['Puerto Rico', 69.59],
        ['Fiji', 53.11],
        ['Hong Kong', 79.96],
        ['United States', 75.42],
        ['Thailand', 43.71],
        ['Libya', 45.85],
        ['Costa Rica', 58.57],
        ['Sweden', 75.88],
        ['Vietnam', 40.11],
        ['Poland', 38.15],
        ['Kuwait', 75.24],
        ['Jordan', 59.22],
        ['Nigeria', 36.82],
        ['Bulgaria', 36.49],
        ['Tunisia', 28.74],
        ['Croatia', 48.00],
        ['Uruguay', 70.29],
        ['Sri Lanka', 33.47],
        ['United Kingdom', 69.49],
        ['United Arab Emirates', 67.98],
        ['Kenya', 39.00],
        ['Switzerland', 122.06],
        ['Spain', 54.98],
        ['Lebanon', 61.65],
        ['Venezuela', 38.30],
        ['Azerbaijan', 27.76],
        ['Czech Republic', 41.22],
        ['Israel', 77.74],
        ['Australia', 80.66],
        ['Estonia', 49.50],
        ['Cyprus', 54.07],
        ['Malaysia', 40.24],
        ['Iceland', 111.71],
        ['Oman', 52.59],
        ['Bosnia And Herzegovina', 35.05],
        ['Armenia', 33.87],
        ['South Korea', 75.41],
        ['Austria', 71.52],
        ['El Salvador', 45.95],
        ['Luxembourg', 77.28],
        ['Brazil', 53.07],
        ['Algeria', 32.38],
        ['Slovenia', 53.24],
        ['Ecuador', 46.10],
        ['Colombia', 34.45],
        ['Hungary', 42.77],
        ['Japan', 85.28],
        ['Us Virgin Islands', 85.86],
        ['Moldova', 28.37],
        ['Belarus', 33.84],
        ['Mauritius', 50.39],
        ['Trinidad And Tobago', 56.15],
        ['Albania', 32.42],
        ['New Zealand', 80.77],
        ['Italy', 83.70],
        ['Honduras', 47.40],
        ['Macedonia', 30.93],
        ['Ethiopia', 45.72],
        ['Singapore', 82.41],
        ['Egypt', 22.36],
        ['Bolivia', 38.65],
        ['Malta', 62.80],
        ['Russia', 42.01],
        ['Saudi Arabia', 48.37],
        ['Netherlands', 72.47],
        ['Pakistan', 27.18],
        ['Ireland', 76.98],
        ['Qatar', 69.20],
        ['China', 44.76],
        ['Slovakia', 44.90],
        ['France', 74.89],
        ['Lithuania', 46.73],
        ['Serbia', 33.79],
        ['Romania', 35.63],
        ['Philippines', 34.71],
        ['Bangladesh', 36.10],
        ['Norway', 106.31],
        ['Macao', 62.56],
        ['Denmark', 83.02],
        ['Dominican Republic', 52.09],
        ['Zimbabwe', 51.56],
        ['Uganda', 34.14],
        ['Mexico', 29.81],
        ['Montenegro', 39.35],
        ['Indonesia', 41.11],
        ]);

        var options = {
          colorAxis: {colors: [ '#17e617', '#e6e617', '#e61717']}
        };

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    };
    </script>

</head>

<body>
    <h2> Cost of Living Index Throughout the World </h1>
    <div id="chart_div" class="country_gmaps_rankings"></div>
    </body>
</html>



